/* app css stylesheet */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

.details {
  padding: 10px;
}

.movie-poster {
  float: left;
  width: 150px;
  margin-right: 10px;
}

.movie-title {
  font-size: 20px;
}

.movie-title a {
  text-decoration: none;
}

.movie-title a:hover {
  color: #BDBDBD;
}

.movie-info > span {
  color: #BDBDBD;
}
