/* app css stylesheet */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

.details {
  padding: 10px;
}

.movie-poster {
  width: 100%;
  margin-right: 10px;
}

.movie-title {
  font-size: 20px;
}

.movie-title a {
  text-decoration: none;
}

.movie-title a:hover {
  color: #BDBDBD;
}

.movie-info {
  padding-left: 15px;
}

.movie-info .divider {
  color: #BDBDBD;
}

.movie-list-item .md-button {
  padding: 5px !important;
}

.movie-list-item p {
  padding-left: 10px;
  font-weight: bold;
  line-height: 16px;
}

.rating {
  font-weight: bold;
  text-align: center;
}

.rating-high {
  background-color: #6c3;
  color: white;
}

.rating-med {
  background-color: #fc3;
}

.rating-low {
  background-color: #f00;
  color: white;
}

.rating-none {
  background-color: #ccc;
  color: white;
}
