/* app css stylesheet */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.search-new-movie {
  font-size: 16px;
}

.search-list, .sort-list {
  width: 80%;
  margin-left: 10px;
}

.search-new-movie .md-errors-spacer {
  display:none;
}

.search-list .md-errors-spacer {
  display:none;
}

.details {
  padding: 10px;
}

.movie-poster {
  width: 100%;
  max-height: 100%;
  margin-right: 10px;
}

.movie-title {
  font-size: 20px;
}

.movie-title a {
  text-decoration: none;
}

.movie-title a:hover {
  color: #BDBDBD;
}

.movie-info {
  padding-left: 15px;
}

.movie-info .divider {
  color: #BDBDBD;
}

.nav-active {
  background-color: #BDBDBD;
}

.movie-list-item .md-button {
  padding: 5px !important;
}

.movie-list-item p {
  padding-left: 10px;
  font-weight: bold;
  line-height: 16px;
}

.button-show-rate {
  min-width: 24px;
  border-radius: 99%;
  margin: 0;
}

.input-rating {
  margin: 0;
  width:40px;
}

.input-rating .md-errors-spacer {
  display:none;
}

.rating {
  font-weight: bold;
  text-align: center;
}

.rating-high {
  background-color: #6c3;
  color: white;
}

.rating-med {
  background-color: #fc3;
}

.rating-low {
  background-color: #f00;
  color: white;
}

.rating-none {
  background-color: #ccc;
  color: white;
}

.details-plot {
  margin-top: 10px;
}

.details-rating {
  font-weight: bold;
  line-height: 24px;
}

.details-rating-high {
  color: #390;
}

.details-rating-med {
  color: #c93;
}

.details-rating-low {
  color: #c00;
}

.empty {
  text-align: center;
  font-size: 32px;
  color: #BDBDBD;
}
