<!-- Movie details -->
<div layout-fill layout="column" layout-align="center" class="empty" ng-show="($ctrl.movies | isEmpty) && !$ctrl.details">
  There are no movies in your list! Search for and add some movies.
</div>

<div layout-fill layout="column" layout-align="center" class="empty" ng-show="!($ctrl.movies | isEmpty) && !$ctrl.details">
  Click on a movie in your list to view details or search for new ones.
</div>

<div layout-fill layout="column" ng-if="$ctrl.details.Response === 'True'">
  <div flex="40" layout="row">
    <div flex="20">
      <img
        class="movie-poster"
        ng-src="{{$ctrl.details.Poster === 'N/A'
                  ? 'http://placehold.it/150x220&text=N/A'
                  : $ctrl.details.Poster}}"
      >
    </div>

    <div class="movie-info" flex="60" layout="column">
      <span class="movie-title">
        <a href="http://imdb.com/title/{{ $ctrl.details.imdbID }}" target="_blank">
          {{$ctrl.details.Title}}
        </a>
        ({{$ctrl.details.Year}})
      </span>

      <p>
        {{$ctrl.details.Rated}}
        <span class="divider">|</span>
        {{$ctrl.details.Genre }}
        <span class="divider">|</span>
        {{$ctrl.details.Runtime}}
        <span class="divider">|</span>
        {{$ctrl.details.Released}}
      </p>

      <p>
        <strong>Director</strong>: {{$ctrl.details.Director}}
        <br>
        <strong>Writer</strong>: {{$ctrl.details.Writer}}
        <br>
        <strong>Starring</strong>: {{$ctrl.details.Actors}}
      </p>

      <div class="details-rating">
        <strong>My Rating</strong>:
        <span
          ng-if="!$ctrl.showRate"
          class="details-rating"
          ng-class="{
            'details-rating-high': $ctrl.ratings[$ctrl.details.imdbID] >= 8,
            'details-rating-med': $ctrl.ratings[$ctrl.details.imdbID] >= 5 && $ctrl.ratings[$ctrl.details.imdbID] < 8,
            'details-rating-low': $ctrl.ratings[$ctrl.details.imdbID] >= 0 && $ctrl.ratings[$ctrl.details.imdbID] < 5,
          }"
        >
          {{$ctrl.ratings[$ctrl.details.imdbID] > -1 ? $ctrl.ratings[$ctrl.details.imdbID] : 'N/A'}}
        </span>
        <md-input-container ng-if="$ctrl.showRate" class="input-rating">
          <input
            autofocus
            type="number"
            aria-label="Input Rating"
            min="0"
            max="10"
            ng-keypress="($event.charCode === 13) ? $ctrl.submitRating() : 0"
            ng-model="$ctrl.rating" />
        </md-input-container>
        <md-button aria-label="Rate" title="Rate this movie" ng-click="$ctrl.toggleRate()" class="button-show-rate">
          <ng-md-icon icon="stars"></ng-md-icon>
        </md-button>
        <br>
        <strong>IMDb Rating</strong>:
        <span
          class="details-rating"
          ng-class="{
            'details-rating-high': $ctrl.details.imdbRating >= 8,
            'details-rating-med': $ctrl.details.imdbRating >= 5 && $ctrl.details.imdbRating < 8,
            'details-rating-low': $ctrl.details.imdbRating < 5,
          }"
        >
         {{$ctrl.details.imdbRating}}
        </span>
        <br>
        <strong>Rotten Tomatoes</strong>:
        <span
          class="details-rating"
          ng-class="{
            'details-rating-high': $ctrl.details.tomatoRating >= 8,
            'details-rating-med': $ctrl.details.tomatoRating >= 5 && $ctrl.details.tomatoRating < 8,
            'details-rating-low': $ctrl.details.tomatoRating < 5,
          }"
        >
         {{$ctrl.details.tomatoRating}}
        </span>
      </div>
    </div>

    <div flex="20" class="add-button">
      <md-button
        ng-if="!$ctrl.movies[$ctrl.details.imdbID]"
        ng-click="$ctrl.addMovie()"
        class="md-raised md-primary"
      >
        Add to my List
      </md-button>
      <md-button
        ng-if="$ctrl.movies[$ctrl.details.imdbID]"
        ng-click="$ctrl.removeMovie()"
        class="md-raised md-warn"
      >
        Remove
      </md-button>
    </div>
  </div>

  <div class="details-plot" flex="60">
    <strong>Synopsis:</strong> {{ $ctrl.details.Plot }}

    <md-list class="related-list" ng-if="$ctrl.details.related.length > 0">
      <strong>Similar Results:</strong>
      <md-list-item
        ng-repeat="movie in $ctrl.details.related"
        ng-click="$ctrl.updateSearch(movie.imdbID, movie.Title)"
      >
        {{ movie.Title }} ({{movie.Year}})
      </md-list-item>
    </md-list>
  </div>
</div>

<div layout-fill layout="column" layout-align="center" class="empty" ng-show="$ctrl.details.Response==='False'">
  No results found.
</div>
