<!-- Container #1 (see wireframe) -->
<md-toolbar>
<h1>My Movie List</h1>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

  <!-- Container #3 -->
  <md-sidenav
    layout="column"
    class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
  >
    <!-- Sidebar content -->
    <p>
      Search:
      <input ng-model="$ctrl.query" />
    </p>

    <p>
      Sort by:
      <select ng-model="$ctrl.orderProp">
        <option value="title">Title</option>
        <option value="year">Release Year</option>
      </select>
    </p>
  </md-sidenav>

  <!-- Container #4 -->
  <md-content flex id="content">
  <!-- Body content -->
  <md-list class="movies">
    <md-list-item class="movie-list-item"
        ng-repeat="movie in $ctrl.movies
          | filter:$ctrl.query
          | orderBy:$ctrl.orderProp
          as filtered track by $index"
    >
      <h4>{{movie.title}}</h4>
      <p>Year: {{movie.year}}</p>
      <p>Genre: {{movie.genre}}</p>
      <p>Cast: {{movie.cast}}</p>
      <p>Rating: {{movie.rating ? movie.rating + '/10' : 'unrated'}}</p>
    </li>
  </md-list>

  <p>Total number of movies: {{filtered.length}}</p>

  </md-content>

</div>
