<!-- Top toolbar with search and filter -->
<md-toolbar class="md-tall md-hue-2">
  <span flex></span> <!-- fill up top area -->
  <div md-theme="light-on-dark" class="md-toolbar-tools">
    <span>My Movie List</span>
    <span flex></span> <!-- fill up area between heading and search -->
    <md-input-container>
      <label>Enter full movie title</label>
      <input
        type="text"
        ng-model="$ctrl.search.new"
        ng-keypress="($event.charCode === 13) ? $ctrl.fetchMovie() : 0"
      />
    </md-input-container>
    <md-button class="md-icon-button" aria-label="Search" ng-click="$ctrl.fetchMovie()">
      <ng-md-icon icon="search"></ng-md-icon>
    </md-button>
  </div>
</md-toolbar>

<div flex layout="row">
  <!-- Sidebar content -->
  <md-sidenav
    layout="column"
    class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')"
  >
    <md-input-container>
      <label>Search List</label>
      <input type="text" ng-model="$ctrl.search.list" />
    </md-input-container>

    <p>
      Sort by:
      <select ng-model="$ctrl.orderProp">
        <option value="Title">Title</option>
        <option value="myRating">Rating</option>
        <option value="-Released">Newest</option>
      </select>
    </p>

    <!-- List of movies and ratings -->
    <md-list class="movie-list">
      <md-list-item
        class="movie-list-item"
        layout="row"
        ng-click="$ctrl.details = movie"
        ng-repeat="movie in $ctrl.movies
          | toArray
          | filter:$ctrl.search.list
          | orderBy:$ctrl.orderProp"
      >
        <span
          flex="10"
          class="rating"
          ng-class="{
            'rating-high': movie.myRating >= 8,
            'rating-med': movie.myRating >= 5 && movie.myRating < 8,
            'rating-low': movie.myRating < 5,
          }"
        >
          {{movie.myRating ? movie.myRating : 'N/A'}}
        </span>
        <p flex="90">{{movie.Title}}</p>
      </li>
    </md-list>
  </md-sidenav>

  <!-- Movie details -->
  <md-content flex class="details">
    <div layout-fill layout="column" ng-if="$ctrl.details.Response === 'True'">
      <div flex="40" layout="row">
        <div flex="20">
          <img
            class="movie-poster"
            ng-src="{{$ctrl.details.Poster === 'N/A'
                      ? 'http://placehold.it/150x220&text=N/A'
                      : $ctrl.details.Poster}}"
          >
        </div>

        <div class="movie-info" flex="60" layout="column">
          <span class="movie-title">
            <a href="http://imdb.com/title/{{ $ctrl.details.imdbID }}" target="_blank">
              {{$ctrl.details.Title}}
            </a>
            ({{$ctrl.details.Year}})
          </span>

          <p>
            {{$ctrl.details.Rated}}
            <span class="divider">|</span>
            {{$ctrl.details.Genre }}
            <span class="divider">|</span>
            {{$ctrl.details.Runtime}}
            <span class="divider">|</span>
            {{$ctrl.details.Released}}
          </p>

          <p>
            <strong>Director</strong>: {{$ctrl.details.Director}}
            <br>
            <strong>Writer</strong>: {{$ctrl.details.Writer}}
            <br>
            <strong>Starring</strong>: {{$ctrl.details.Actors}}
          </p>

          <p>
            <strong>My Rating</strong>: {{$ctrl.details.myRating ? $ctrl.details.myRating : 'N/A'}}
            <md-button aria-label="Rate" ng-click="$ctrl.toggleRate()">
              <ng-md-icon icon="stars"></ng-md-icon>
            </md-button>
            <md-input-container ng-if="$ctrl.showRate">
              <input
                type="number"
                min="0"
                max="10"
                step="0.1"
                ng-keypress="($event.charCode === 13) ? $ctrl.submitRating() : 0"
                ng-model="$ctrl.rating" />
            </md-input-container>
            <br>
            <strong>IMDb Rating</strong>: {{$ctrl.details.imdbRating}}
            <br>
            <strong>Rotten Tomatoes</strong>: {{$ctrl.details.tomatoRating}}
          </p>
        </div>

        <div flex="20" class="add-button">
          <md-button
            ng-if="!$ctrl.movies[$ctrl.details.Title]"
            ng-click="$ctrl.addMovie()"
            class="md-raised md-primary"
          >
            Add to my List
          </md-button>
          <md-button
            ng-if="$ctrl.movies[$ctrl.details.Title]"
            ng-click="$ctrl.removeMovie()"
            class="md-raised md-primary"
          >
            Remove from my List
          </md-button>
        </div>
      </div>

      <div flex="60">{{ $ctrl.details.Plot }}</div>
    </div>

    <div ng-if="$ctrl.details.Response==='False'">
      No results found.
    </div>
  </md-content>

</div>
